In [1]:
import sqlite3
import pandas as pd

In [2]:
db_path = 'F:\pydata\dataset\CBDB_aw_20180831_sqlite.db'

In [8]:
sql = '''
SELECT a.c_assoc_code
    , b.c_assoc_desc_chn
    , COUNT(a.c_assoc_code) count
FROM assoc_data a
LEFT JOIN assoc_codes b 
    ON a.c_assoc_code = b.c_assoc_code
GROUP BY a.c_assoc_code
ORDER BY count DESC
'''

assoc = pd.read_sql(sql, con=sqlite3.connect(db_path))

In [9]:
assoc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452 entries, 0 to 451
Data columns (total 3 columns):
c_assoc_code        452 non-null int64
c_assoc_desc_chn    450 non-null object
count               452 non-null int64
dtypes: int64(2), object(1)
memory usage: 10.7+ KB

In [10]:
assoc.head()

   c_assoc_code c_assoc_desc_chn  count
0            43          墓誌銘由Y所作  10258
1            44           為Y作墓誌銘  10206
2            32          為Y所著書作序   4977
3            33           書序由Y所作   4977
4            45           書跋由Y所作   4069

In [28]:
sql = '''
SELECT a.c_personid
    , b1.c_name_chn
    , c_assoc_id
    , b2.c_name_chn
    , a.c_assoc_code
    , c.c_assoc_desc_chn
FROM assoc_data a
LEFT JOIN biog_main b1 
    ON a.c_personid = b1.c_personid
LEFT JOIN biog_main b2 
    ON a.c_assoc_id = b2.c_personid
LEFT JOIN assoc_codes c 
    ON a.c_assoc_code = c.c_assoc_code
WHERE (a.c_personid = '3257'
    OR c_assoc_id = '3257')
    AND a.c_assoc_code IN ('9', '564', '548', '231', '232', '117', '27')
'''

person_assoc = pd.read_sql(sql, con=sqlite3.connect(db_path))

In [29]:
person_assoc.head(100)

,c_personid,c_name_chn,c_assoc_id,c_name_chn,c_assoc_code,c_assoc_desc_chn
0,3257,朱熹,4103,顏度,9,友
1,3257,朱熹,7164,張栻,9,友
2,3257,朱熹,10049,蔡元定,9,友
3,3257,朱熹,10083,崔嘉彥,9,友
4,3257,朱熹,10613,林成季,9,友
5,3257,朱熹,11833,劉玶,9,友
6,3257,朱熹,13651,陳宋霖,9,友
7,3257,朱熹,13773,張杰,9,友
8,3257,朱熹,16692,王炎,9,友
9,3257,朱熹,17527,吳儆,9,友
10,3257,朱熹,18827,胡襄,9,友
11,3257,朱熹,19164,李閎祖,9,友
12,3257,朱熹,20700,馬千之,9,友
13,3257,朱熹,20910,石?,9,友
14,3257,朱熹,23388,黃文晟,9,友
15,3257,朱熹,23735,陳旦,9,友
16,3257,朱熹,27361,徐木,9,友
17,3257,朱熹,27385,魏掞之,9,友
18,3257,朱熹,30359,辛棄疾,9,友
19,3257,朱熹,39282,丘義,9,友
20,3257,朱熹,39304,江嗣,9,友
21,3257,朱熹,41609,吳楫,9,友
22,3257,朱熹,42968,洪撙,9,友
23,3257,朱熹,43588,范念德,9,友
24,3257,朱熹,44397,馬大同,9,友
25,3257,朱熹,45163,孫邦仁,9,友
26,3257,朱熹,46220,徐逸,9,友
27,3257,朱熹,46271,徐元聘,9,友
28,3257,朱熹,48752,黃仲本,9,友
29,3257,朱熹,49172,程伯榮,9,友
...,...,...,...,...,...,...
70,13303,孫逢吉,3257,朱熹,27,支持
71,17100,謝深甫,3257,朱熹,27,支持
72,18449,項安世,3257,朱熹,27,支持
73,18449,項安世,3257,朱熹,27,支持
74,41376,吳伸,3257,朱熹,27,支持
75,45096,袁許,3257,朱熹,27,支持
76,45454,曹集,3257,朱熹,27,支持
77,47567,陳敬,3257,朱熹,27,支持
78,48424,湯璹,3257,朱熹,27,支持
79,48987,景元一,3257,朱熹,27,支持
80,50818,趙飛鳳,3257,朱熹,27,支持
81,51460,鄧驛,3257,朱熹,27,支持
82,53659,釋用沔,3257,朱熹,27,支持
83,3257,朱熹,46003,李從禮,117,同學、同門
84,46003,李從禮,3257,朱熹,117,同學、同門
85,3257,朱熹,10840,曹彥約,232,教授Y
86,3257,朱熹,10890,陳守,232,教授Y
87,3257,朱熹,11125,潘植,232,教授Y
88,3257,朱熹,13077,黃㽦,232,教授Y
89,3257,朱熹,13239,劉清之,232,教授Y
90,3257,朱熹,14099,章康,232,教授Y
91,3257,朱熹,15735,程先,232,教授Y
92,3257,朱熹,19687,呂勝己,232,教授Y
93,3257,朱熹,24765,皇甫斌,232,教授Y
94,3257,朱熹,27406,饒幹,232,教授Y
95,3257,朱熹,27406,饒幹,232,教授Y
96,3257,朱熹,38300,上官謐,232,教授Y
97,3257,朱熹,39970,沈僴,232,教授Y
98,3257,朱熹,40880,李燔,232,教授Y
99,3257,朱熹,40928,李大同,232,教授Y